<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="box_inertia" params="m l w h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(1/12) * m * (w*w + h*h)}" ixy="0.0" ixz="0.0" 
                    iyy="${(1/12) * m * (l*l + h*h)}" iyz="0.0" 
                    izz="${(1/12) * m * (l*l + w*w)}"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m r h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(1/12) * m * (3*r*r + h*h)}" ixy="0.0" ixz="0.0" 
                    iyy="${(1/12) * m * (3*r*r + h*h)}" iyz="0.0" 
                    izz="${(1/2) * m * r*r}"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="steering_inertia" params="">
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
        </inertial>
    </xacro:macro>

    <material name="red"> <color rgba="1 0 0 1"/> </material>
    <material name="black"> <color rgba="0 0 0 1"/> </material>

</robot>