<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.03"/>
            </geometry>            
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.03"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertia m="0.1" r="0.05" h="0.03" xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </link>

    <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.15 0.0 0.04" rpy="0.0 0.0 0.0"/>
    </joint>
    
<!-- 
    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo> -->

    <gazebo reference="lidar_link">
        <material>
            Gazebo/Black            
        </material>


        <sensor name="lidar_link" type="gpu_lidar">
            <update_rate>10</update_rate>
            <topic>/scan</topic>
            <gz_frame_id>lidar_link</gz_frame_id>
            <lidar>
              <scan>
                <horizontal>
                  <samples>720</samples>
                  <resolution>1</resolution>
                  <min_angle>0</min_angle>
                  <max_angle>6.28</max_angle>
                </horizontal>
              </scan>

              <range>
                <min>0.01</min>
                <max>12.0</max>
                <resolution>0.01</resolution>
              </range>

              <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.01</stddev>
              </noise>
            </lidar>
            <always_on>true</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>
</robot>